$small-max-width: 768px;

$medium-min-width: 769px;
$medium-max-width: 1199px;

$large-min-width: 1200px;

@mixin max-small() {
    @media (max-width: $small-max-width) {
        @content;
    }
}

@mixin max-medium() {
    @media (max-width: $medium-max-width) {
        @content;
    }
}

@mixin min-medium() {
    @media (min-width: $medium-min-width) {
        @content;
    }
}

@mixin min-large() {
    @media (min-width: $large-min-width) {
        @content;
    }
}
