:host {
  border-radius: 15px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  overflow: hidden;
}

.game {
  &__image {
    width: 220px;
    height: 154px;
  }
}

