@import 'src/app/styles/variables.scss';

.game {
  display: flex;
  flex-direction: column;
  margin: 16px 8px;
  position: relative;

  &:hover {
    .game__label {
      opacity: 1;
    }
  }

  &--top {
    border: 2px solid red;
  }

  &--new {
    border: 2px solid blue;
  }

  &__image {
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 7px 9px 5px -2px rgba(0,0,0,0.34);
    width: 260px;
    height: 154px;

    &:hover {
      border: 3px solid $highlight;
      cursor: pointer;
    }
  }

  &__label {
    opacity: 0;
    transition: ease-in-out all 0.3s;
  }

  &__jackpot {
    background: rgba(0, 0, 0, 0.3);
    color: $primary-font;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    text-align: center;
    left: 0;
    max-width: 90%;
    margin-left: auto;
    pointer-events: none;
    z-index: 1;
    right: 0;
    top: 4px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: auto;
  }

  .ribbon {
    width: 114px;
    height: 87px;
    overflow: hidden;
    position: absolute;
    top: -8px;
    right: -9px;
    z-index: 2;

    &::before, &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid darkgreen;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &::before {
      top: 0;
      left: 26px;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &__label {
      position: absolute;
      display: block;
      width: 143px;
      padding: 4px 0;
      background-color: green;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      color: #fff;
      font: 700 18px/1 "Lato", sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      text-align: center;
      left: 14px;
      top: 30px;
      transform: rotate(45deg);
    }
  }
}

