@import 'src/app/styles/variables.scss';

:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: $primary-font;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 98%;

  &:hover {
    cursor: pointer;
  }
}
