@import 'src/app/styles/breakpoints.scss';
@import 'src/app/styles/variables.scss';

:host {
  display: flex;
  border-top: 25px solid black;
}

.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #373737;
  color: $primary-font;
  flex-flow: row wrap;
  font-size: 22px;

  @include max-medium() {
    font-size: 16px;
  }

  @include max-small() {
    font-size: 14px;
  }

  &__element {
    color: $primary-font;
    text-decoration: none;
    padding: 15px 35px;
    text-transform: capitalize;
    flex: 1;
    text-align: center;

    @include max-small() {
      padding: 15px 30px;
    }

    &:hover {
      cursor: pointer;
      background: $highlight;
    }

    &--active {
      background: $highlight;
      pointer-events: none;
    }
  }
}
