@import 'src/app/styles/variables.scss';

:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: $primary-font;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 98%;

  &:hover {
    cursor: pointer;
  }
}

.game-label {
  &__text {
    cursor: pointer;
  }
}

.btn {
  background: $highlight;
  display: flex;
  padding: 2px 10px 2px 2px;
  border-radius: 10px;
  margin-right: 9px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;

  &__icon {
    color: $primary-font;
  }

  &__label {
    text-transform: uppercase;
  }
}
